{% extends 'base.html' %}
{% load static %}
{% load friends %}

{% block title %} Friend Requests {% endblock title %}

{% block content %}
{% include 'navbar.html' with navbar_title="Friends" %}

<div class="friends-page-container">
    <div class="friends-page-options">
        <div class="friends-page-options-header">
            <a href="{% url 'friends' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            <h1>Friend Requests</h1>
        </div>
        
        
        {% if user.sent_friend_requests|length > 0 %}
            <a href="{% url 'sent-friend-requests' %}?next=/friends/requests/">View sent requests</a>
        {% endif %}
        
        {% if friend_requests|length > 0 %}
            <p>{{ friend_requests|length }} new requests</p>
        {% else %}
            <p>No new requests</p>
        {% endif %}
    </div>

    <div class="friends-page-list">
        <div class="friends-list">
            
            <div id="list">
                {% for friend in friend_requests %}
                    <div class="card">
                        <img class="card-img-top" src="{{ friend.profile_photo.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ friend.name }}</h5>
                            <div>
                                {% if request.user.profile.id|has_sent_a_fr:friend.id %}
                                    <a id="add_fr_btn_{{friend.user.username|return_hashed}}" class="btn btn-primary" onclick="addFriend('{{ friend.user.username }}', '{{ request.user.username }}', '{{ friend.user.username|return_hashed }}');" style="background-color: #555;">Cancel friend request</a>
                                {% elif request.user.profile.id|is_in_fr:friend.id %}
                                    <a id="accept_fr_btn_{{friend.user.username|return_hashed}}" class="btn btn-primary" onclick="acceptFR('{{ friend.user.username }}', '{{ request.user.username }}', '{{ friend.user.username|return_hashed }}');">Accept friend request</a>
                                    <a id="delete_fr_btn_{{friend.user.username|return_hashed}}" class="btn btn-primary" onclick="deleteFR('{{ friend.user.username }}', '{{ request.user.username }}', '{{ friend.user.username|return_hashed }}');" style="background-color: #555;">Delete</a>
                                {% else %}
                                    <a id="add_fr_btn_{{friend.user.username|return_hashed}}" class="btn btn-primary" onclick="addFriend('{{ friend.user.username }}', '{{ request.user.username }}', '{{ friend.user.username|return_hashed }}');">Add Friend</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/friend-requests.css' %}">
<script src="{% static 'js/friends.js' %}"></script>
{% endblock content %}