{% extends 'base.html' %}
{% load static %}
{% load friends %}

{% block title %} Friends {% endblock title %}

{% block content %}
{% include 'navbar.html' with navbar_title="Friends" %}

<div class="friends-page-container">
    <div class="friends-page-options">
        <div class="friends-page-options-header">
            <a href="{{ request.GET.next }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            {% if profile.id == request.user.profile.id %}
                <h1>My friends</h1>
            {% else %}
                <h1>{{ profile_name }}'s friends</h1>
            {% endif %}
        </div>
    </div>

    <div class="friends-page-list">
        <div class="friends-list">
            
            <div id="list">
                {% for friend in all_friends %}
                    {% if friend %}
                    <div class="card">
                        <img class="card-img-top" src="{{ friend.profile_photo.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ friend.name }}</h5>
                            {% if profile.id == request.user.profile.id %}
                                {% if profile.id|is_closefriend:friend.id %}
                                    <a id="add_to_cf_{{friend.user.username|return_hashed}}" class="btn btn-success">Close Friend</a>
                                    <a id="remove_friend_{{friend.user.username|return_hashed}}" class="btn btn-danger" onclick="deleteFriend('{{friend.user.username}}', '{{request.user.username}}', '{{friend.user.username|return_hashed}}');">Unfriend</a>
                                {% else %}
                                    <a id="add_to_cf_{{friend.user.username|return_hashed}}" class="btn btn-success" onclick="addFriendToCloseFriends('{{friend.user.username}}', '{{request.user.username}}', '{{friend.user.username|return_hashed}}');">Add to Close Friends</a>
                                    <a id="remove_friend_{{friend.user.username|return_hashed}}" class="btn btn-danger" onclick="deleteFriend('{{friend.user.username}}', '{{request.user.username}}', '{{friend.user.username|return_hashed}}');">Unfriend</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/friends-all.css' %}">
<script src="{% static 'js/friends.js' %}"></script>
{% endblock content %}