{% extends 'base.html' %}
{% load static %}

{% block title %} {{ profile.name }} | My Blog {% endblock title %}

{% block content %}
{% include 'navbar.html' with navbar_title='Profile' %}

<div class="profile-page-container">
    <div class="profile-page-cover-photo">
        <a href="{{ profile.cover_photo.url }}" target="_blank">
            <img id="profile-cover-photo" src="{{ profile.cover_photo.url }}" alt="kid" />
        </a>
    </div>
    <div class="profile-page-profile-photo">
        <a href="{{ profile.profile_photo.url }}" target="_blank">
            <img id="profile-photo" src="{{ profile.profile_photo.url }}" alt="kid" />
        </a>
    </div>
    
    <div class="profile-page-profile-name">
        <h1>{{ profile.name }}</h1>
    </div>

    {% if request.user.profile.id == profile.id %}
        <div class="profile-page-profile-desc">
            <p>{{ profile.bio }}</p>
            <div class="profile-desc-options">
                <a href="{% url 'all-friends' profile.user.username %}?next=/friends">See my friends</a>
                <a href="{% url 'edit_profile' %}?next=/profile/{{request.user.username}}/">Edit profile</a>
                <a href="{% url 'my_photos' profile.id %}">Photos/Videos</a>
            </div>
        </div>
    {% else %}
        <div class="profile-page-profile-desc">
            <p>{{ profile.bio }}</p>
            <div class="profile-desc-options">
                <a href="{% url 'all-friends' profile.user.username %}?next=/friends">Friends</a>
                <a href="{% url 'my_photos' profile.id %}">Photos/Videos</a>
            </div>
        </div>
    {% endif %}
</div>

<script src="{% static 'js/profile.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock content %}